
.st-emotion-cache-rde19y {
    background-image: url("https://i.pinimg.com/564x/60/c7/15/60c715285cae14f6a4c97f4e10e3fe97.jpg");
    background-size: cover;
/*header*/

}

.st-emotion-cache-uf99v8{background-image: url("https://i.pinimg.com/564x/60/c7/15/60c715285cae14f6a4c97f4e10e3fe97.jpg");
    background-size: cover;
    /* main bg*/

}
.st-emotion-cache-6qob1r{background-image: url("https://i.pinimg.com/564x/32/98/d0/3298d01483caf911c2d711ae2f9c281a.jpg");
    background-size: cover;
    /*siddebar*/
}
.st-emotion-cache-1avcm0n{background-image: url("https://i.pinimg.com/564x/60/c7/15/60c715285cae14f6a4c97f4e10e3fe97.jpg");
    background-size: cover;
    /*about us header*/

}

.st-emotion-cache-k7vsyb span {
    scroll-margin-top: 2rem;
    color: #2c7c74;
}
.st-emotion-cache-q8sbsg p {
    word-break: break-word;
    color: black;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14px;
}
.st-emotion-cache-k7vsyb span{
    color: black;
}

.st-emotion-cache-19rxjzo{
    background-color: rgb(20 84 36);
    color: white;
}

.st-emotion-cache-13k62yr {
    color: rgb(0, 0, 0);

}